@charset "utf-8";

@import 'normalize',
        'font-awesome.min';

// Color
$c-primary: #b5e285;
$c-secondary: #e28585;
$c-w: #fff;
$c-b: #000;
$c-g: #bbb;

// Font-family

$ff-head: "Alegreya Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$ff-body: "Alegreya", Georgia, Times, "Times New Roman", serif;
$ff-body-sc: "Alegreya SC", Georgia, Times, "Times New Roman", serif;

// Font-size (Scale: 1.414)
$fs-b-4: 3.998em;  // 72px
$fs-b-3: 2.827em;  // 51px
$fs-b-2: 1.999em;  // 36px
$fs-b-1: 1.414em;  // 25px
$fs-base: 18px;    // 1em
$fs-s-1: 0.707em;  // 13px
$fs-s-2: 0.5em;    // 9px

// Main style
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $ff-body;
  font-size: $fs-base;
  line-height: 135%;
  position: relative;
}

abbr[title] {
  font-family: $ff-body-sc;
  text-transform: lowercase;
  border-bottom-width: 0;
}

.sc {
  font-family: $ff-body-sc;
  letter-spacing: 0.0556em; /* 0.0556em ≈ 1px */
}

.nowrap {
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: $c-primary;

  &:hover {
    text-decoration: underline;
  }
}

@mixin ratio($width, $percent) {
  position: relative;
  width: $width;

  &:before {
    content: "";
    display: block;
    padding-top: $percent;  //  100% = 1:1; 50% = 2:1; 200% = 1:2
  }

}

.ratio-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.logo {
  width: 24px;
  height: 24px;
  fill: $c-primary;
  vertical-align: middle;
}

nav {

  ul {
    @import 'clearfix';
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 20%;
      float: left;
      text-align: center;

      a {
        padding-top: 3.28em;
        padding-bottom: 3.78em;
        display: block;
        background-color: $c-b;
        border-top: .5em solid $c-b;

        &:hover {
          border-top: .5em solid $c-primary;
          text-decoration: none;
        }

        svg {
          display:block;
          margin: 0 auto;
        }
      }

    }

  }

}

#intro {
  @include ratio(100%, 100%);
  background-color: $c-w;
  color: $c-b;

  h1 {
    color: $c-b;
    font-size: $fs-b-2;
    font-family: $ff-head;
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

}

#me {
  width: 100%;
  display: block;
}

#resume {
  display: none;
}

#artist-statement {
  clear: both;
  padding: 2em;
  font-size: $fs-base;
  background-color: $c-w;

  p:first-child:first-letter {
    float: left;
    line-height: 0.8em;
    font-size: 5em;
    padding-right: 0.08em;
    margin-left: -0.06em;
    color: $c-primary;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#link {
  @import 'clearfix';

  a {
    background-color: $c-w;
    color: $c-b;

    &:hover {
      background-color: $c-b;
      color: $c-primary;
    }
  }
}

#linkedin {
  @include ratio(50%, 100%);
  float: left;

  a {
    background-color: $c-w;
    color: $c-b;

    &:hover {
      background-color: $c-b;
      color: $c-primary;
    }
  }

  i {
    font-size: 4em;
  }
}

#email, #twitter, #dribbble, #github {
  float: left;

  i {
    font-size: 2em;
  }
}

#email, #twitter, #dribbble, #github {
  @include ratio(25%, 100%);
}

#map {
  @include ratio(100%, 100%);
  position: fixed;
  bottom: 0;
  z-index: -9999;

  iframe {
    width: 100%;
    height: 100%;
    display: block;
  }
}

footer {
  @include ratio(100%, 50%);
  background-color: $c-b;
  color: $c-w;

  p {
    margin: 0;
    bottom: auto !important;
    font-size: $fs-s-1;

    .logo {
      margin-bottom: 1em;
    }

    a {
      color: $c-w;
    }
  }
}

#blog{
  @import 'clearfix';
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.blog-post-list {
  @include ratio(100%, 50%);
  border-bottom: 1px solid $c-primary;

  .post-title {
    padding: 0 1em;
    font-family: $ff-head;
    font-size: $fs-b-1;
    margin: 1em 0 0;

    .post-link {
      color: $c-b;
    }
  }

  .post-meta {
    font-size: $fs-base;
  }
}

#blog-post {

  .post-header {
    @include ratio(100%, 50%);
    background-color: $c-primary;
  }

  .post-title {
    padding: 0 1em;
    font-family: $ff-head;
    font-size: $fs-b-1;
    margin: 1em 0 0;
  }

  .post-link {
    color: $c-b;
  }

  .post-meta {
    font-size: $fs-base;
  }


  // Article style
  .post-content {
    padding: 1em;

    p {
      margin-bottom: 2em;
    }

    h2 {
      font-size: $fs-base;
      font-family: $ff-head;
    }

    blockquote {
      margin-left: 0;
      padding-left: 1em;
      border-left: 1px solid $c-primary;
    }

  }

  .post-comments {
    padding: 1em;
  }
}

.rss-subscribe {
  margin: 0 auto;
  padding: 18px 0;
  border-top: 1px solid $c-primary;
  text-align: center;
  background-color: $c-primary;
  a {
    color: $c-b;
  }
}

#publication {
  @import 'clearfix';
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.publication-list {
  position: relative;
  overflow: hidden;
}

.publication-image-wrapper {
  @include ratio(100%, 100%);
  overflow: hidden;
  position: relative;
}

.publication-disc {
  @include ratio(100%, 100%);

  position: absolute;
  top: 0;

  p {
    margin: 0 auto 2em auto;
    padding: 0 1em;

    &:last-child {
      margin: 0 auto;
    }

    a {

      background-color: $c-primary;
      color: $c-b;
      padding: .5em 1em;
    }
  }

}

.publication-title{
  font-family: $ff-head;
  font-size: $fs-b-1;
  margin: 0 1em 1em 1em;

  span {
    font-style: italic;
  }
}

.publication-image {
  width: 100%;
  filter: blur(15px);
  position: absolute;
  top: 0;
}

#portfolio {
  list-style: none;
  margin: 0;
  padding: 0;

  #ui-ux-design-head, #model-making-head, #processing-and-arduino-head {
    @include ratio(100%, 100%);
    background-size: cover;

    .portfolio-class-title {
      font-family: $ff-head;
      font-size: $fs-b-1;
    }
  }

  .head-image-wrapper {
    @include ratio(100%, 100%);
    overflow: hidden;
    position: absolute !important;
  }

  #ui-ux-design {

    .head-image-wrapper {
      background: url("/images/compressed/portfolio/ui-ux-design.png") no-repeat center center;
      background-size: cover;
    }

    img {
      display: block;
      @include ratio(100%, 100%);
    }
  }

  #model-making {

    .head-image-wrapper {
      background: url("/images/compressed/portfolio/model-making.jpg") no-repeat center center;
      background-size: cover;
    }

    .outside-sources {
      @include ratio(100%, 56.25%);
    }

  }

  #processing-and-arduino {

    .head-image-wrapper {
      background: url("/images/compressed/portfolio/processing-and-arduino.jpg") no-repeat center center;
      background-size: cover;
    }

    .outside-sources {
      @include ratio(100%, 100%);
    }

  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .portfolio-class-content {
    list-style: none;
    margin: 0;
    padding: 0;
  }

}

/*
 * --------------------
 *     CSS for iPad
 * --------------------
 */

@media only screen
and (min-width : 640px) {

  #intro {
    @include ratio(100%, 50%);
    float: left;
  }

  #me {
    @include ratio(100%, 50%);
    float: right;
  }

  #resume {
    @include ratio(50%, 100%);
    display: block;
    transform: translate(100%, 100%);

    a {
      background-color: $c-primary;
      color: $c-b;

      &:hover {
        background-color: $c-b;
        color: $c-primary;
      }
    }

    p {
      font-family: $ff-head;
      font-size: $fs-b-1;
      margin-top: .5em;
      margin-bottom: -.3em;
    }
  }

  #artist-statement {
    padding: 15%;
  }

  #email, #twitter, #dribbble, #github {
    @include ratio(25%, 100%);
  }

  #linkedin {
    display: none;
  }

  footer {
    @include ratio(100%, 25%);
  }

  .blog-post-list {

    &:first-of-type {
      @include ratio(100%, 50%);

      .post-title {
        font-size: $fs-b-2;

        & + .post-meta {
          font-size: $fs-b-1;
        }

      }
    }

    @include ratio(50%, 100%);
    border-bottom: 1px solid $c-primary;
    float: left;

    &:nth-child(even) {
      border-right: 1px solid $c-primary;
    }

    &:nth-child(odd) {
      border-right: 1px solid $c-w;
    }

    &:nth-last-child(2) {
      border-bottom: none;
    }
    &:nth-last-child(1) {
      border-bottom: none;
    }
  }

  #blog-post {

    .post-header {
      @include ratio(100%, 50%);
      background-color: $c-primary;
    }
    .post-title {
      font-size: $fs-b-2;
    }

    .post-meta {
      font-size: $fs-b-1;
    }

    .post-content {
      padding: 0; //clear previous RWD
      width: 66.66%;
      margin: 4em auto;
    }

    .post-comments {
      padding: 0; //clear previous RWD
      width: 66.66%;
      margin: 0 auto 2em auto;
    }

  }

  .publication-list {
    width: 33.33%;
    float: left;
    border-left: 1px solid $c-primary;

    &:first-child {
      border-left: 0;
    }
  }

  .publication-image {
    filter: blur(0);
  }

  .publication-disc {
    position: relative;
    top: auto;
  }

  #portfolio {

    #ui-ux-design-head, #model-making-head, #processing-and-arduino-head {
      @include ratio(100%, 50%);

      .portfolio-class-title {
        font-family: $ff-head;
        font-size: $fs-b-2;
      }

      .portfolio-class-disc {
        font-size: $fs-b-1;
      }
    }

    .head-image-wrapper {
      @include ratio(100%, 50%);
    }

    #ui-ux-design {
      .portfolio-class-content {
        @import 'clearfix';
      }

      .portfolio-list {
        width: 50%;
        float: left;
      }
    }

    #processing-and-arduino {

      .portfolio-class-content {
        @import 'clearfix';
      }

      .portfolio-list {
        width: 50%;
        float: left;
      }

      .outside-sources {
        @include ratio(100%, 100%);
      }
    }

  }

}

@media only screen
and (max-width : 959px) {

  #link {
    margin-bottom: 50%;
  }

}

/*
 * --------------------
 *     CSS for Mac
 * --------------------
 */

@media only screen
and (min-width : 960px) {

  header {
    position: absolute;
    left: 50%;
    margin-left: -480px;
    z-index: 9999;
  }

  #about, #publication, #blog, #blog-post {
    padding-top: 160px;
  }

  nav, #about, #publication, #blog, #blog-post, .rss-subscribe, footer {
    width: 960px;
    margin: 0 auto;
  }

  #intro {
    @include ratio(320px, 100%);
    float: left;
  }

  #me {
    @include ratio(640px, 50%);
    float: left;
  }

  #resume {
    @include ratio(320px, 100%);
    transform: translate(200%, 100%);
  }

  #artist-statement {
    width: 640px;
    float: left;
    padding: 77px;
  }

  #social {
    margin-top: 320px;
    width: 320px;
    float: right;
  }

  #email, #twitter, #dribbble, #github {
    @include ratio(320px, 50%);
  }

  #map {
    @include ratio(640px, 50%);
    z-index: auto;
    position: absolute;
    bottom: 320px;
  }

  footer {
    @include ratio(960px, 320px);
  }

  .blog-post-list {

    @include ratio(33.33%, 100%);
    border-bottom: 1px solid $c-primary;
    float: left;

    &:first-of-type {
      @include ratio(100%, 33.33%);

      .post-title {
        font-size: $fs-b-3;
      }
    }

    &:nth-child(3n+2), &:nth-child(3n+3) {
      border-right: 1px solid $c-primary;
    }

    &:nth-child(3n+4) {
      border-right: 1px solid $c-w;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:nth-last-child(2) {
      border-bottom: none;
    }

    &:nth-last-child(3) {
      border-bottom: none;
    }

  }

  #blog-post {

    .post-header {
      @include ratio(100%, 33.33%);
      background-color: $c-primary;
    }
    .post-title {
      font-size: $fs-b-3;
    }

    .post-content {


      h2 {

      }

      blockquote {

      }
    }

    .post-comments {
      margin: 0 auto;
      padding-bottom: 4em;
    }

  }

  #portfolio {

    #ui-ux-design {

      .head-image-wrapper {
        height: 640px;
      }

      #ui-ux-design-head {
        width: 960px !important;
        margin: 0 auto;
        @include ratio(100%, 33.33%);

        .ratio-inner {
          margin-top: 320px;
        }

      }
      

      .portfolio-class-content {
        width: 960px;
        margin: 160px auto 0 auto;
        @import 'clearfix';
        padding-bottom: 160px;

        .portfolio-list {
          width: 33.33%;
          float: left;

          .outside-sources {
            background-color: $c-b;

          }
        }
      }

    }

    #model-making {

      .head-image-wrapper {
        height: 480px;
      }

      #model-making-head {
        width: 960px !important;
        margin: 0 auto;
        @include ratio(100%, 33.33%);
      }

      .portfolio-class-content {
        width: 960px;
        margin: 0 auto;
        @import 'clearfix';
        padding-bottom: 160px;

        .portfolio-list {
          width: 33.33%;
          float: left;

          .outside-sources {
            background-color: $c-b;
            @include ratio(100%, 100%);
          }
        }
      }

    }



    #processing-and-arduino {

      .head-image-wrapper {
        height: 480px;
      }

      #processing-and-arduino-head {
        width: 960px !important;
        margin: 0 auto;
        @include ratio(100%, 33.33%);
      }

      .portfolio-class-content {
        width: 960px;
        margin: 0 auto;
        @import 'clearfix';
        padding-bottom: 160px;


        .portfolio-list {
          width: 33.33%;
          float: left;

          .outside-sources {
            background-color: $c-b;
          }
        }
      }

    }

    .head-image-wrapper {
      @include ratio(100%, 75%);
    }

  }

}

nav .fa-bars {
  display: none;
}

// Animation CSS
.typed-cursor{
    opacity: 1;
    animation: blink .8s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
