---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'UTF-8';

@import '_normalize';
@import '_swiper';


// color
$color-canyon: #323232;
$color-dyson: #4a4a4a;
$color-phenix: #767676;
$color-rapha: #51833e;
$color-leica: #c85128;
$color-veilance: #999999;
$color-snowpeak: #d6d6d6;
$color-muji: #ffffff;
$color-heytea: #b8ceaf;
$color-starbucks: #e3b5a5;


// font-size
$font-size-title-1: 66px;
$font-size-title-2: 49px;
$font-size-title-3: 36px;
$font-size-large: 25px;
$font-size-regular: 18px;
$font-size-small: 13px;
$font-size-mini: 10px;
$font-size-micro: 8px;


// font-family
$font-family: calluna-sans, sans-serif;
$line-height: 150%;


// grid
$grid-column-mobile-no-gap: 24px repeat(12, 1fr) 24px;
$grid-column-tablet-no-gap: 48px repeat(12, 1fr) 48px;
$grid-column-desktop-gap: 48px repeat(12, 1fr 48px);


// general settings
* {
    font-family: $font-family;
    line-height: $line-height;
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    font-size: $font-size-regular;
    color: $color-canyon;
}

a {
    color: $color-rapha;
}


// mobile ------------------------------------------
.intro {
    display: grid;
    grid-template-columns: $grid-column-mobile-no-gap;
    grid-template-rows: 160px 32px 96px auto 64px;
    justify-items: start;

    .logo {
        grid-column: 3 / span 10;
        grid-row: 2 / 3;
    }

    .bio {
        grid-column: 3 / span 10;
        grid-row-start: 4;

        p:first-child {
            margin-top: 0 !important;
        }

        p:last-child {
            margin-bottom: 0 !important;
        }
    }
}

hr {
    outline: 0;
    border: 0;
    margin: 0;
    font-size: $font-size-regular;
    height: 1.5em;
    display: grid;
    grid-template-columns: $grid-column-mobile-no-gap;
    
    &:after {
        content: attr(data-content);
        font-size: $font-size-regular;
        line-height: 150%;
        color: $color-canyon;
        background-color: $color-muji;
        grid-column-start: 3;
        align-self: center;
    }
}

.works {
    display: grid;
    grid-template-rows: 64px 96px auto 48px auto 48px auto 96px;

    &::before {
        content: "";
        background-color: $color-heytea;
        z-index: -9999;
        grid-column: 1;
        grid-row: 3 / 9;
    }

    .work {        
        grid-column: 1;
        grid-row: 2 / 4;
        display: grid;
        grid-template-columns: $grid-column-mobile-no-gap;
        grid-template-rows: auto 24px auto;

        img {
            border-radius: 4px;
            width: 100%;
            grid-column: 6 / span 7;
            grid-row: 1 / 2;
        }

        .work-description {
            grid-column: 6 / span 7;
            grid-row: 3 / 4;

            span {
                font-size: $font-size-small;
                font-weight: bold;
                color: $color-phenix;
                text-transform: uppercase;
            }

            a {
                color: $color-canyon;

                h2 {
                    font-size: $font-size-large;
                    font-weight: bold;
                    margin: 0;

                    &:after {
                        content: " \2192";
                    }
                }
            }

            p {
                margin: 0;
            }
        }

        &:nth-child(2) {

            grid-row: 5 / 6;
            
            img {
                grid-column: 1 / span 13;
            }

            .work-description {
                grid-column: 2 / span 13;
            }

        }

        &:nth-child(3) {

            grid-row: 7 / 8;
            
            img {
                grid-column: 3 / span 10;
            }

            .work-description {
                grid-column: 3 / span 10;
            }

        }

    }

}

.compliment {
    background-color: $color-canyon;
    display: grid;
    grid-template-rows: 96px 32px 48px 38px 24px 35px 96px;

    .tab {
        overflow: hidden;
        grid-row: 2 / 3;
        justify-self: center;
    }

    .tab button {
        width: 32px;
        height: 32px;
        margin: 0 16px;
        padding: 0;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s;
        background-color: transparent;

        svg path {
            fill: $color-phenix;
        }
    }

    .tab button:hover {
        svg path {
            fill: $color-snowpeak;
        }
    }

    .tab button.active {
        svg path {
            fill: $color-muji;
        }
    }

    .tabcontent {
        display: none;
        grid-row: 4 / 7;
    }

    blockquote {
        grid-row: 4 / 5;
        text-align: center;
        color: $color-muji;
        font-size: $font-size-large;
        margin: 0;

        &::before {
            content: "“"
        }

        &::after {
            content: "”"
        }
    }

    .profile {
        grid-row: 6 / 7;
        color: $color-muji;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
        .profileAvatar {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            margin-right: 12px;
            margin-top: 24px;
        }

        .profileNameAndTitle {
            margin-top: 24px;
        }

        .profileName {
            color: $color-muji;
            font-size: $font-size-small;
            margin: 0;
        }

        .profileTitle {
            color: $color-muji;
            font-size: $font-size-mini;
            margin: 0;
        }
    }

}

.contacts {
    background-color: $color-heytea;
    display: grid;
    grid-template-rows: 96px auto 96px 96px;
    grid-template-columns: $grid-column-mobile-no-gap;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        grid-row: 2 / 3;
        grid-column: 3 / span 6;
            
        p {
            margin: 0 0 8px;

            a {
                color: $color-canyon;
            }
        }
    }

    .stamp {
        width: 158px;
        height: 80px;
        grid-row: 3;
        grid-column: 3 / span 10;
        justify-self: end;
        align-self: end;
        position: relative;
        top: 40px;
    }

    &::after {
        content: "";
        width: 100%;
        height: 96px;
        grid-row: 4 / 5;
        grid-column: 1 / span 14;
        background-color: $color-muji;
    }

}


// tablet ------------------------------------------
@media only screen
and (min-width: 640px) {

    .intro {
        grid-template-columns: $grid-column-tablet-no-gap;
    }

    hr {
        grid-template-columns: $grid-column-tablet-no-gap;
    }

    .works {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 64px 120px auto 96px auto 48px auto 120px;

        .work:nth-child(1) {
            grid-column: 1;
            grid-row: 2 / 5;
            grid-template-columns: $grid-column-tablet-no-gap;
            grid-template-rows: auto;

            img {
                grid-column: 3 / span 5;
            }

            .work-description {
                grid-column: 8 / span 6;
                grid-row: 1;
                position: relative;
                left: 24px;
            }
        }

        .work:nth-child(2) {
            grid-column: 1;
            grid-row: 4 / 6;
            grid-template-columns: $grid-column-tablet-no-gap;

            img {
                grid-column: 7 / span 8;
            }

            .work-description {
                grid-column: 7 / span 8;
            }
        }

        .work:nth-child(3) {
            grid-column: 1;
            grid-row: 7;
            grid-template-columns: $grid-column-tablet-no-gap;

            img {
                grid-column: 4 / span 8;
            }

            .work-description {
                grid-column: 4 / span 8;
            }
        }

    }

    .compliment {
        grid-template-rows: 120px 32px 48px 38px 24px 35px 120px;

    }

    .contacts {
        grid-template-columns: $grid-column-tablet-no-gap;
        grid-template-rows: 96px auto 96px 96px;

        ul {
            grid-template-columns: $grid-column-tablet-no-gap;

            li {
                grid-column: 6 / span 4;
            }
        }

        .stamp {
            width: 237px;
            height: 120px;
            top: 60px;
        }
        
    }

}


// desktop ------------------------------------------
@media only screen
and (min-width: 960px) {

    .intro {
        grid-template-columns: $grid-column-desktop-gap;
        grid-template-rows: 200px 32px 96px auto 96px;

        .logo {
            grid-column: 6 / span 13;
            grid-row: 2 / 3;
        }

        .bio {
            grid-column: 6 / span 11;
            grid-row-start: 4;

            p {
                font-size: $font-size-large;
            }
        }

    }

    hr {
        font-size: $font-size-large;
        height: 1.5em;
        display: grid;
        grid-template-columns: $grid-column-desktop-gap;
        
        &:after {
            font-size: $font-size-large;
            grid-column-start: 6;
        }
    }

    .works {
        display: grid;
        grid-template-columns: $grid-column-desktop-gap;
        grid-template-rows: 96px 120px auto 48px auto auto 120px;
        
        &::before {
            grid-column: 1 / span 25;
        }

        .work:nth-child(1) {
            grid-column: 4 / span 7;
            grid-row: 2 / 6;
            grid-template-columns: repeat(3, 1fr 48px) 1fr;
            grid-template-rows: auto 16px auto;

            img {
                grid-column: 1 / span 7;
            }

            .work-description {
                grid-column: 1 / span 7;
                grid-row: 3;
                position: relative;
                left: 0;
            }
        }

        .work:nth-child(2) {
            grid-column: 12 / span 13;
            grid-row: 2 / 4;
            grid-template-columns: repeat(6, 1fr 48px) 1fr;
            grid-template-rows: auto 16px auto;

            img {
                grid-column: 1 / span 13;
            }

            .work-description {
                grid-column: 1 / span 13;
                grid-row: 3;
            }
        }

        .work:nth-child(3) {
            grid-column: 12 / span 11;
            grid-row: 5 / 7;
            grid-template-columns: repeat(5, 1fr 48px) 1fr;
            grid-template-rows: auto 16px auto;

            img {
                grid-column: 1 / span 11;
            }

            .work-description {
                grid-column: 1 / span 11;
                grid-row: 3;
            }
        }

    }

    .compliment {
        grid-template-rows: 120px 32px 48px 54px 24px 48px 120px;

        blockquote {
            font-size: $font-size-title-3;
        }

        .profile {
            .profileAvatar {
                width: 48px;
                height: 48px;
                border-radius: 24px;
                margin-right: 16px;
            }

            .profileName {
                font-size: $font-size-regular;
            }

            .profileTitle {
                color: $color-muji;
                font-size: $font-size-small;
                margin: 0;
            }
        }
    }

    .contacts {
        grid-template-columns: $grid-column-desktop-gap;
        grid-template-rows: 120px auto 120px 120px;

        ul {
            grid-template-columns: $grid-column-desktop-gap;
            grid-column: 6 / span 6;

            li {

                p {
                    font-size: $font-size-large;
                }
            }
        }

        .stamp {
            width: 316px;
            height: 160px;
            top: 80px;
            grid-column: 6 / span 15;
        }

        &::after {
            height: 120px;
            grid-column: 1 / span 25;
        }
        
    }
}