@charset "utf-8";

@import 'normalize',
        'font-awesome.min';

// Color
$c-primary: hsl(89, 62%, 70%);  //#b5e285
$c-secondary: hsl(0, 62%, 70%);  //#E28585
$c-w: #fff;
$c-b: hsl(89, 62%, 6%);  //#101906
$c-g: #bbb;

// Font-family

$ff-head: "Alegreya Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$ff-body: "Alegreya", Georgia, Times, "Times New Roman", serif;
$ff-body-sc: "Alegreya SC", Georgia, Times, "Times New Roman", serif;
$ff-mono: "Inconsolata", Consolas, Monaco, "Courier New", Courier, monospace;

// Font-size (Scale: 1.414)
$fs-b-4: 3.998em;  // 72px
$fs-b-3: 2.827em;  // 51px
$fs-b-2: 1.999em;  // 36px
$fs-b-1: 1.414em;  // 25px
$fs-base: 18px;    // 1em
$fs-s-1: 0.707em;  // 13px
$fs-s-2: 0.5em;    // 9px

// Other
$radius: .25em;

// Main style
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $ff-body;
  font-size: $fs-base;
  color: $c-b;
  line-height: 135%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ff-head;
}

code, kbd {
  font-family: $ff-mono;
  font-size: 90%;
}

p > code, li > code, li > kbd, p > kbd {
  padding: .1em .2em;
  border: 1px solid $c-g;
  margin: 0 .2em;
  border-radius: $radius;
}

table {

}

table, td, th {
  border: 1px solid $c-g;
}

thead, th {
  font-family: $ff-body-sc;
  text-align: left;
}

td, th {
  padding: .5em;
}

abbr[title] {
  font-family: $ff-body-sc;
  text-transform: lowercase;
  border-bottom-width: 0;
}

%small-caps {
  font-family: $ff-body-sc;
  letter-spacing: .1em;
  word-spacing: .1em;
}

.small-caps {
  @extend %small-caps;
}

.nowrap {
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: $c-primary;

  &:hover {
    text-decoration: underline;
  }
}

@mixin ratio($width, $percent) {
  position: relative;
  width: $width;

  &:before {
    content: "";
    display: block;
    padding-top: $percent;  //  100% = 1:1; 50% = 2:1; 200% = 1:2
  }

}

.ratio-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.button {
  @extend %small-caps;
  display: inline-block;
  text-decoration: none;
  border-radius: $radius;
  border: 1px solid $c-primary;
  background-color: $c-primary;
  padding: 0 2em .1em 2em;
  line-height: 2em;
  text-transform: lowercase;
  color: $c-w;
  transition: all .2s ease-in-out;
}

.button:hover {
  text-decoration: none;
  background-color: transparent;
  color: $c-primary;
}

header {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.logo {
  width: 24px;
  height: 24px;
  fill: $c-primary;
  vertical-align: middle;
}

nav {

  .logo {
    fill: $c-w;
  }

  ul {
    @import 'clearfix';
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 20%;
      float: left;
      text-align: center;

      a {
        @extend %small-caps;
        padding-top: 3.28em;
        padding-bottom: 3.78em;
        display: block;
        color: $c-w;

        &:hover {
          text-decoration: none;
        }

        svg {
          display:block;
          margin: 0 auto;
        }

      }

    }

  }

}

.head {

  .head-background {
    position: absolute;
    width: 100%;
    height: 640px;
    background-color: $c-primary;
    z-index: -9998;
    overflow: hidden;
  }

  .head-content {
    @include ratio(100%, 100%);

    .head-content-title {
      font-size: $fs-b-1;
    }

    .button {
      font-size: $fs-base;
    }

  }

}


#portfolio {

  #portfolio-content {
    list-style: none;
    margin: 0;
    padding: 0;

    .portfolio-list {

      .outside-sources {
        @include ratio(100%, 100%);

        .frame {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: $c-b;

          img, iframe {
            display: block;
            @include ratio(100%, 100%);
          }

          iframe {
            height: 100%;
          }

          figure {
            position: relative;
            margin: 0;
            overflow: hidden;
            height: 100%;

            figcaption {
              position: absolute;
              top: 100%;
              width: 100%;
              height: 100%;
              margin: 0 auto;
              text-align: center;
              background-image: linear-gradient(to bottom, rgba($c-primary, 0.2) 0%, rgba($c-w,1) 80%);
              transition: all .2s ease-in-out;
            }

            .fig-content {
              filter: blur(0);
              transition: all .2s ease-in-out;
            }

            .fig-description {
              width: 100%;
              transition: all .6s ease-in-out;
              padding: 1em 2em;
              position: absolute;
              top: 5%;
              opacity: 0;

              h3 {
                font-size: $fs-b-1;
                border-bottom: 1px solid $c-b;
                padding-bottom: 1em;
                margin-bottom: 1em;
              }

            }

            &:hover .fig-content {
              filter: blur(10px);
            }

            &:hover figcaption {
              top: 0;
            }

            &:hover .fig-description {
              top: 0;
              opacity: 1;
            }
          }
        }

      }


    }

  }

}

#about {

  .head {
    .head-background {
      background: url("/images/compressed/header/me.jpg") no-repeat center center;
      background-size: cover;
    }
  }

  #about-content {
    #resume {
      display: none;
    }

    #artist-statement {
      clear: both;
      padding: 2em;
      font-size: $fs-base;
      background-color: $c-w;

      p:first-child:first-letter {
        float: left;
        line-height: 0.8em;
        font-size: 5em;
        padding-right: 0.08em;
        margin-left: -0.06em;
        color: $c-primary;
      }

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    #link {
      @import 'clearfix';

      a {
        background-color: $c-w;
        color: $c-b;

        &:hover {
          background-color: $c-b;
          color: $c-primary;
        }
      }
    }

    #linkedin {
      @include ratio(50%, 100%);
      float: left;

      a {
        background-color: $c-w;
        color: $c-b;

        &:hover {
          background-color: $c-b;
          color: $c-primary;
        }
      }

      i {
        font-size: 4em;
      }
    }

    #email, #twitter, #dribbble, #github {
      float: left;

      i {
        font-size: 2em;
      }
    }

    #email, #twitter, #dribbble, #github {
      @include ratio(25%, 100%);
    }

    #map {
      /* @include ratio(100%, 100%);
      position: fixed;
      bottom: 0;
      z-index: -9999;

      iframe {
        width: 100%;
        height: 100%;
        display: block;
      } */
    }

  }

  #map {
    width: 100%;
    @include ratio(100%, 45%);
    position: absolute;
    z-index: -9998;
    top: 940px;


    iframe {
      width: 100%;
      height: 100%;
    }
  }

}


#publication {

  .head {
    .head-background {
      background: url("/images/compressed/header/bestseller.jpg") no-repeat center center;
      background-size: cover;
    }
  }

  #publication-content {
    @import 'clearfix';
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: $c-w;

    .publication-list {
      position: relative;
      overflow: hidden;
    }

    .publication-image-wrapper {
      @include ratio(100%, 100%);
      overflow: hidden;
      position: relative;
    }

    .publication-disc {
      @include ratio(100%, 100%);
      position: absolute;
      top: 0;
      background-image: linear-gradient(to bottom, rgba($c-primary, 0.2) 0%, rgba($c-w,1) 80%);

      p {
        margin: 0 auto 2em auto;
        padding: 0 1em;

        &:last-child {
          margin: 0 auto;
        }
      }

    }

    .publication-title{
      font-size: $fs-b-1;
      margin: 0 1em 1em 1em;

      span {
        font-style: italic;
      }
    }

    .publication-image {
      width: 100%;
      filter: blur(15px);
      position: absolute;
      top: 0;
    }

  }

}


#blog {

  #blog-content{
    @import 'clearfix';
    margin: 0 auto;
    padding: 0;
    list-style: none;

    .blog-post-list {
      @include ratio(100%, 33.33%);
      border-bottom: 1px solid $c-primary;
      background-color: $c-w;

      &:last-child {
        border-bottom: none;
      }

      .post-title {
        padding: 0 1em;
        font-size: $fs-base;
        margin: 1em 0 0;
        line-height: normal;

        .post-link {
          color: $c-b;
        }
      }

      .post-meta {
        @extend %small-caps;
        font-size: $fs-s-1;
        color: $c-g;
        margin-top: 0;
      }
    }

  }

}


#blog-post {

  #blog-post-content {
    background-color: $c-w;


    .post-header {
      @include ratio(100%, 33.33%);
      background-image: linear-gradient(to bottom, rgba($c-primary, 0.2) 0%, rgba($c-w,1) 80%);
    }

    .post-title {
      padding: 0 1em;
      font-size: $fs-base;
      margin: 1em 0 0;
      line-height: normal;
    }

    .post-link {
      color: $c-b;
    }

    .post-meta {
      @extend %small-caps;
      font-size: $fs-s-1;
      color: $c-g;
      margin-top: .2em;
    }


    // Article style
    .post-content {

      margin: 0 auto 2em;
      > p:first-child {
        margin-top: 0;
      }

      .full-width {
        margin: 1em 0;
        padding: auto 0;
        width: 100%;
      }

      .outside-sources {
        @include ratio(100%, 56.25%);
      }

      .outside-sources iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      h2, h3, p, ul, ol, blockquote, pre, table {
        width: 90%;
      }

      p, ul, ol, blockquote, pre, table {
        margin: 1em auto;
      }

      h2, h3 {
        margin: 2em auto 1em;
      }

      h2 {
        font-size: $fs-base;
      }

      h3 {
        font-size: $fs-s-1;
      }

      img {
        display: block;
        width: 100%;
      }

      blockquote, pre {
        border-left: 1px solid $c-primary;
      }

    }

    .post-comments {
      padding: 1em;
    }

  }

}


footer {
  @include ratio(100%, 50%);
  background-color: $c-b;
  color: $c-w;

  p {
    margin: 0;
    bottom: auto !important;
    font-size: $fs-s-1;

    .logo {
      margin-bottom: 1em;
    }

    a {
      color: $c-w;
    }
  }
}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------------------------------------
 *     CSS for iPad
 * ----------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

@media only screen
and (min-width : 640px) {

  .head {
    .head-content {
      @include ratio(100%, 50%);
    }
  }

  #portfolio {

    #portfolio-content {
      @import 'clearfix';

      .portfolio-list {
        width: 50%;
        float: left;

        .outside-sources {
          background-color: $c-b;
          @include ratio(100%, 100%);
        }

      }

    }

  }

  #about {
    #about-content {

      #resume {

        display: none;

        a {
          background-color: $c-primary;
          color: $c-b;

          &:hover {
            background-color: $c-b;
            color: $c-primary;
          }
        }

        p {
          font-family: $ff-head;
          font-size: $fs-b-1;
          margin-top: .5em;
          margin-bottom: -.3em;
        }
      }

      #artist-statement {
        padding: 15%;
      }

      #email, #twitter, #dribbble, #github {
        @include ratio(25%, 100%);
      }

      #linkedin {
        display: none;
      }
    }
  }


  #publication {
    #publication-content {
      .publication-list {
        width: 33.33%;
        float: left;
        border-left: 1px solid $c-primary;

        &:first-child {
          border-left: 0;
        }
      }

      .publication-image {
        filter: blur(0);
      }

      .publication-disc {
        position: relative;
        top: auto;
        background-color: $c-w;
      }
    }
  }


  #blog {

    #blog-content {

      .blog-post-list {
        @include ratio(100%, 25%);

        .post-title {
          font-size: $fs-b-1;
        }

        .post-meta {
          font-size: $fs-base;
        }
      }

    }

  }


  #blog-post {

    #blog-post-content {

      .post-header {
        @include ratio(100%, 33.33%);
        background-image: linear-gradient(to bottom, rgba($c-primary, 0.2) 0%, rgba($c-w,1) 80%);
      }
      .post-title {
        font-size: $fs-b-1;
      }

      .post-meta {
        font-size: $fs-base;
      }

      .post-content {

        h2, h3, p, ul, ol, blockquote, pre, table {
          width: 66.66%;
        }

        blockquote, pre, table {

          padding-left: 1em;

          p {
            margin-left: 0;
          }
        }

      }

      .post-comments {
        padding: 0; //clear previous RWD
        width: 66.66%;
        margin: 0 auto 2em auto;
      }

    }

  }


  footer {
    @include ratio(100%, 25%);
  }

}



@media only screen
and (max-width : 959px) {

  #link {
    margin-bottom: 50%;
  }

}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------------------------------------
 *     CSS for Mac
 * ----------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

@media only screen
and (min-width : 960px) {

  header {
    width: 960px;
    left: 50%;
    margin-left: -480px;
  }

  .head {

    .head-content {
      width: 960px !important;
      margin: 0 auto;
      padding-top: 160px;
      @include ratio(100%, 33.33%);

      .ratio-inner {
        top: 160px;
      }

      .head-content-title {
        font-size: $fs-b-2;
      }

      .head-content-disc {
        font-size: $fs-b-1;
      }

    }

  }

  #portfolio {

    #portfolio-content {
      width: 960px;
      margin: 0 auto;
      @import 'clearfix';
      padding-bottom: 160px;

      .portfolio-list {
        width: 33.33%;
      }

    }

  }

  #about {

    .head {
      .head-content {
        .head-content-title, .head-content-disc {
          text-align: left;
          padding-left: 7.5%;
        }
      }
    }

    #about-content {
      width: 960px;
      margin: 0 auto;
      @import 'clearfix';

      #resume {

      }

      #artist-statement {
        width: 640px;
        float: left;
        padding: 77px;
      }

      #social {
        margin-top: 320px;
        width: 320px;
        float: right;
      }

      #email, #twitter, #dribbble, #github {
        @include ratio(320px, 50%);
      }

    }

    /* #map {
      width: 100%;
      @include ratio(100%, 45%);
      position: absolute;
      z-index: -9998;
      top: 940px;


      iframe {
        width: 100%;
        height: 100%;
      }
    } */

  }

  #publication {
    #publication-content {
      width: 960px;
      margin: 0 auto;
      @import 'clearfix';
      padding-bottom: 160px;

    }
  }


  #blog {

    #blog-content {
      width: 960px;
      margin: 0 auto;

      .blog-post-list {

        .post-title {
          font-size: $fs-b-2;
        }

      }

    }

  }



  #blog-post {

    #blog-post-content {
      width: 960px;
      margin: 0 auto;

      .post-header {
        @include ratio(100%, 33.33%);
      }



      .post-title {
        font-size: $fs-b-2;
      }

      .post-comments {
        margin: 0 auto;
        padding-bottom: 4em;
      }

    }

  }


  nav, footer {
    width: 960px;
    margin: 0 auto;
  }

  footer {
    @include ratio(960px, 320px);
    z-index: -9999;
  }

}

nav .fa-bars {
  display: none;
}


// Animation CSS
.typed-cursor{
    opacity: 1;
    animation: blink .8s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
