<header>
  <nav>
    <ul>
      <li>
        <div class="ratio-inner">
          <div class="center-middle">
            <a href="/">About</a>
          </div>
        </div>
      </li>
      <li>
        <div class="ratio-inner">
          <div class="center-middle">
            <a href="/">Portfolio</a>
          </div>
        </div>
      </li>
      <li>
        <div class="ratio-inner">
          <div class="center-middle">
            <a href="/">{% include logo.html %}</a>
          </div>
        </div>
      </li>
      <li>
        <div class="ratio-inner">
          <div class="center-middle">
            <a href="/publication/">Publication</a>
          </div>
        </div>
      </li>
      <li>
        <div class="ratio-inner">
          <div class="center-middle">
            <a href="/blog/">Blog</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
