---
layout: default
---
<div id="blog-post">

  <div class="head">

    <div class="head-background">

    </div>

    <div class="head-content">
      <div class="ratio-inner">
        <div class="center-middle">
          <h2 class="head-content-title">{{ page.title }}</h2>
          <p class="head-content-disc post-meta">{{page.category}}{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </div>
      </div>
    </div>

  </div>

  <div id="blog-post-content">

    <article class="post-content">
      {{ content }}
    </article>

  </div>
</div>
