<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="wrapper">

      {% include header.html %}

      <main>
        {{ content }}
      </main>

      {% include footer.html %}

    </div>

    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/typed.js"></script>
    <script>
      $(function(){
        $("#typing").typed({
          strings: ["", "designer", "developer", "handcraftsman"],
          typeSpeed: 100,
          backDelay: 1000
        });
      });
    </script>

  </body>

</html>
