<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {{ content }}

  </body>
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/jquery.mousewheel.min.js"></script>
  <script src="/js/jquery.ba-throttle-debounce.min.js"></script>
  <script src="/js/swiper.jquery.min.js"></script>
  <script>


  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  document.getElementById("defaultOpen").click();

    // var viewportHeight = $(window).height();
    // var work = [
    //   'intro',
    //   // 'work--IOE',
    //   'work--NM',
    //   'work--AR',
    //   // 'work--SSB',
    //   // 'work--CY',
    //   // 'work--IMC',
    //   'work--GP',
    //   'work--FSG',
    //   // 'work--PHO',
    //   'work--WRI',
    //   'work--PUB',
    //   'contact'
    // ]
    // var index = 0;

    // $(document).ready(function() {

    //   $('.intro h1').addClass('faded');
    //   $('.intro .intro__title').addClass('faded');
    //   $('.intro .intro__companies').addClass('faded');
    //   $('#mouse').addClass('faded');
    // });

    // $(window).on('scroll', function(e) {
    //   if ($(window).scrollTop() > 1) {
    //     $('header').addClass('scrolled');
    //     //$('#mouse.faded').css('opacity', '0');
    //   } else {
    //     $('header').removeClass('scrolled');
    //     //$('#mouse.faded').css('opacity', '1');
    //   }
    // })

  </script>

</html>
